header{
    width: 100%;
    background-color: var(--color-nav);
    position: sticky;
    top: 0;
    box-shadow: 1px 7px 12px -4px rgba(176,176,176,0.7);
    -webkit-box-shadow: 1px 7px 12px -4px rgba(176,176,176,0.7);
    -moz-box-shadow: 1px 7px 12px -4px rgba(176,176,176,0.7);
}
header .wrapper-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wrapper-menu .left-menu,
header .wrapper-menu .right-menu{
    display: flex;
    align-items: center;
}
header .logo font:nth-child(1){
    color: var(--color-primary);
    font-size: 3rem;
    font-weight: 700;
}
header .logo font:nth-child(2){
    color: var(--color-text);
    font-size: 1.8rem;
    opacity: 0.8;
    font-weight: 700;
}
header .logo font:nth-child(3){
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: 700;
}

header .left-menu .frm-search{
    margin-left: 3rem;
    width: 250px;
}
header .left-menu .frm-search div{
    width: 100%;
    position: relative;
}
header .left-menu .frm-search div input{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 10px;
    padding: 5px;
    color: var(--color-text);
    opacity: 1;
}
header .frm-search div input:focus {
    border-color: var(--color-primary);
}
header .frm-search div button{
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: none;
}
header .frm-search div .icon{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    cursor: pointer;
}
header .frm-search div input:focus ~ button .icon{
    color: var(--color-primary);
}


/* center menu */
header .center-menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 header .center-menu ul li{
     padding: 18px 20px;
 }
 header .center-menu ul li.m-hover{
     position: relative;
 }
 header .center-menu ul li.m-hover .dropbox{
    position: absolute;
    top: 100%;
    left: 50%;
    background: red;
    flex-direction: column;
    border-radius: 5px;
    transform: translateX(-50%);
 }
 header .center-menu ul li.m-hover:hover .dropbox{
    display: flex;
 }
 header .dropbox .arrow-top{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -98%);
    width: 10px;
    height: 10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid red;
    border-top: 18px solid transparent;
 }
 header .center-menu .dropbox span{
     cursor: pointer;
     padding: 10px 10px;
 }
 header .center-menu .dropbox span:hover{
    color: var(--color-primary);
 }
 header .center-menu ul li a{
     color: var(--color-text);
     opacity: 0.8;
     font-size: 20px;
     font-weight: 500;
     transition: 0.2s;
     cursor: pointer;
 }
 header .center-menu ul li a:hover{
     color: var(--color-primary);
 }
 header .center-menu ul .dropbox{
     display: none;
 }