/* .pagination-wrapper{
    display: flex;
    justify-content: center;
}
.pagination-wrapper .pagination{
    display: flex;
}
.pagination-wrapper .pagination li{
    margin: 0 5px;
}
.pagination-wrapper .pagination li.previous a,
.pagination-wrapper .pagination li.next a{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    color: white;
} */
/* .pagination-wrapper .pagination li.next a svg{
    filter: red;
} */
/* .pagination-wrapper .pagination li a{
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    font-weight: bold;
    color: var(--color-primary);
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 8px;
} */



.pagination-wrapper{
    display: flex;
    justify-content: center;
}
.pagination-wrapper .pagination{
    display: flex;
}
.pagination-wrapper .pagination li{
    margin: 0 5px;
    background-color: var(--color-white);
    border: 2px solid var(--color-primary);
    font-weight: bold;
    color: var(--color-primary);
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 8px;
}
.pagination-wrapper .pagination li.previous,
.pagination-wrapper .pagination li.next{
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: bold;
    color: white;
}
.pagination-wrapper .pagination li.active{
    color: var(--color-white);
    background-color: var(--color-primary);
}