.login-signup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: wheat;
    z-index: 100003;
}
.container{
    max-width: 850px;
    width: 100%;
    background-color: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    perspective: 2700;
}

/* cover */

.container .cover{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #fff;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform: preserve-3d;
}
.container .cover::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: 100;
}
.container #flip:checked ~ .cover{
    transform: rotateY(-180deg) ;
}
.container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
}

/* form */

.container form{
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container .form-content .login-form,
.container .form-content .signup-form{
    width: calc(100% / 2 - 25px) ;
}
form .form-content .title{
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
form .form-content .input-boxes{
    margin-top: 30px;
}
form .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;

}
.form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 17px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}
.form-content .input-box input:focus,
.form-content .input-box input:valid{
    border-color: green;
}

.container .form-content .login-form .login-remember{
    display: flex;
    justify-content: space-between;
}

.form-content .input-box .input-icon{
    position: absolute;
    color: black;
    font-size: 17px;
}
form .form-content .login{
    font-size: 14px;
    font-weight: 500;
    color: #333;
    display: flex;
    justify-content: space-between;
}
form .form-content .text a{
    text-decoration: none;
}

/* btn */

form .form-content .btn{
    color: #fff;
}
form .form-content .btn input{
    color: #fff;
    background-color: green;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content .btn input:hover{
    background-color: yellowgreen;
}

/* label */

form .form-content label{
    color: #28AC61;
    cursor: pointer;
}
form .form-content label:hover{
    text-decoration: underline;
}
form .form-content .login-media{
    padding: 10px;
    margin: 5px;
}
form .form-content .login-media h2{
    text-align: center;
}
form .form-content .login-media input{
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px 95px;
    width: 100%;
}
.container #flip{
    display: none;
}

@media (max-width: 730px) {
    .container .cover{
        display: none;
    }
    .container .form-content .login-form,
    .container .form-content .signup-form{
        width: 100% ;
    }
    .container .form-content .signup-form{
        display: none;
    }

    .container #flip:checked ~ form .signup-form{
        display: block;
    }
    .container #flip:checked ~ form .login-form{
        display: none;
    }


}